.pianoroll {
    position: relative;
    overflow: hidden;
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.pianoroll-keyboard, .pianoroll-sheet {
    position: relative;
    background: #ccc;
    overflow: hidden;
}

.pianoroll-keyboard-key {
    position: absolute;
    cursor: pointer;
    z-index: 1;
    transition-property: color, background-color, border-color;
    transition-duration: 0.2s;
}

.pianoroll-keyboard-key-label {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 10px;
    bottom: 0;
}

.pianoroll-keyboard-whitekey {
    margin-top: -2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-left: solid 1px #333;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
}

.pianoroll-keyboard-blackkey {
    border-left: 2px solid #333;
    border-bottom: 4px solid #333;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #444;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    z-index: 3;
}

.pianoroll-keyboard-whitekey:hover {
    color: #fff;
    background-color: #9dc6ff;
}

.pianoroll-keyboard-blackkey:hover {
    color: #fff;
    background-color: #6d96cf;
    border-color: #5d86af;
}

.pianoroll-keyboard-whitekey.microphone-peek {
    background-color: #fa0;
}

.pianoroll-keyboard-blackkey.microphone-peek {
    background-color: #c93;
    border-color: #b82;
}

.pianoroll-sheet > * {
    position: absolute;
}

.pianoroll-sheet-barlabel {
    position: absolute;
    left: 4px;
    top: 12px;
    white-space: pre;
}
